*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;

}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.box{
    width: 20%;
    height: 60%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8507fbc9;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
}
.profile{
    margin-top: 18px;
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}
.profile>img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px double #8507fb;
    cursor: pointer;
}
.name{
    color: black;
    font-size: 30px;
    font-weight: bolder;
    color: #8000f8;
}
.role{
    font-size: 18px;
    color: grey; 
}
.idd{
    color: black;
    font-size: 14px;
    font-weight: 700;
    font-family:monospace;
    margin: 7px;
}
button{
    margin: 5px;
    width: 70px;
    height: 35px;
    font-weight:800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    /* border:1px solid #8507fb; */
    box-shadow: 0 0  10px #8507fb;
    background-color: white;
}
.stats{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
}
a{
    font-style: italic;
    text-decoration: none;
}